app = "simt-syncthing-with-cron"
primary_region = "lhr"

[env]
  # Disable the GUI:
  # STGUIADDRESS = ""

  # Could enable access (through wireguard) with the following:
  STGUIADDRESS = "fly-local-6pn:8384"

[mounts]
  source="syncthing_files"
  destination="/var/syncthing"
  auto_extend_size_threshold = 80
  auto_extend_size_increment = "1GB"

[[services]]
  internal_port = 22000
  protocol = "tcp"

  [[services.ports]]
    port = 22000

  [[services.tcp_checks]]
    grace_period = "30s"
    interval = "15s"
    timeout = "5s"

[[services]]
  internal_port = 22000
  protocol = "udp"

  [[services.ports]]
    port = 22000

[[services]]
  internal_port = 21027
  protocol = "udp"

  [[services.ports]]
    port = 21027

[[vm]]
  size = 'shared-cpu-1x'
  memory = '512mb'

[checks]
  [checks.supercronic_ok]
    grace_period = "30s"
    interval = "30s"
    method = "get"
    path = "/health"
    port = 9746
    timeout = "10s"
    type = "http"

  [checks.syncthing_api]
    grace_period = "30s"
    interval = "30s"
    method = "get"
    path = "/rest/noauth/health"
    port = 8384
    timeout = "10s"
    type = "http"

[[restart]]
  policy = "always"
  retries = 5
